html,body {
    background-color: #D6E1F0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;


}
 .attribution img{
    width: 100%;
  border-radius: 10px;
 }

.attribution h2 {
  font-size: 15px;
  color: #1f3251;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1.4;
}

.attribution p{
    font-size: 10px;
    color: #7b879d;
    line-height: 1.4;

}

 .card {
    width: 72%;
    max-width: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 15px;
  box-sizing: border-box;
  text-align: center;

 }

 @media (max-width: 400px) {
  .card {
    width: 90%;
    padding: 20px;
  }

  .attribution h2 {
    font-size: 14px;
  }

  .attribution p {
    font-size: 9px;
  }
}



 
